.companies-section {
    padding: 20px;
    text-align: center;
    background-color: white;
    
  }
  
  .companies-section h1 {
    font-size: 31px;
    margin-bottom: 10px;
    font-weight: 900;
    color: #046394;
  }
  
  .companies-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #3784ac;
  }
  
  .divider-companies {
    border: 0;
    height: 4px;
    background: #046394;
    margin: 20px auto;
    margin-top: 0px;
    width: 30%;
  }
  
  .content-row-companies {
    display: flex;
    justify-content: center;
  }
  
  .text-image-companies {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .image-companies {
    display: flex;
    gap: 40px;
  }
  
  .image-companies img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    margin-bottom: 30px;
  }
  