footer {
    background-color: #ecf7ff;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* .footer-left,
  .footer-center,
  .footer-right {
    flex: 1;
  } */
  
  .footer-logo {
    max-width: 300px;
  }
  
  .footer-center {
    display: grid;
  }
  
  .footer-social {
    max-width: 50px;
  }
   
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    text-align: justify;
    color: rgb(4, 99, 148);
  }
  
  .contact-icon {
    font-size: 18px;
    margin-right: 10px;
    color: rgb(4, 99, 148)
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15px;
  }
  .contact-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: rgba(33, 37, 41, 0.75);
  }