.about-section {
    padding: 120px;
    text-align: center;
    background-color: #3784ac;
    margin-top: -50px;
  }
  
  .about-section h1 {
    font-size: 31px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
    font-weight: 900;
  }
  
  .about-section h2 {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -10px;
    color: white;
    font-weight: 400;
  }
  .about-section h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
  }
  .about-section h5 {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: -10px;
    color: white;
    font-weight: 400;
  }
  .divider-about {
    border: 0;
    height: 4px;
    background: #fff;
    margin: 20px auto;
    margin-top: 0px;
    width: 30%;
  }
  
  .content-row-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text-image-about {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 80%;
    color:white;
  }
  
  .text-image-about.reversed {
    flex-direction: row-reverse;
  }
  
  .text-about {
    flex: 1;
    text-align: left;
    color: white;
    text-align: justify;
  }
  
  .image-about {
    flex: 1;
    text-align: right;
  }
  .image-reverse-about {
    flex: 1;
  }
  
  .image-about img {
    max-width: 100%;
    height: auto;
  }
  .image-about img,
.image-reverse-about img {
  max-width: 100%;
  border-radius: 15px;
  object-fit: cover;
}