.textcarousel-container {
  padding: 20px;
  transition: height 0.3s ease-in-out;
  max-width: 70%;
  margin: auto;
}
.textcarousel-container h1 {
  font-size: 31px;
  margin-bottom: 10px;
  color: white;
  font-weight: 900;
}
.textcarousel-container h4 {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: -10px;
  color: white;
  font-weight: 400;
}
.textcarousel-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.textcarousel-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  transition: height 0.3s ease-in-out;
  width: 100%;
}

.textcarousel-text {
  color: #3784ac;
  font-size: 18px;
  text-align: justify;
  padding:20px;
  margin: 0;
  background-color: #ffffff;
  width: 100%;
}
.carousel-title {
  font-size: 31px;
  margin-bottom: 10px;
  color: white;
  font-weight: 900;
  text-align: center !important;
}

.carousel-subtitle {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: -10px;
  color: white;
  font-weight: 400;
  text-align: center !important;
}

.carousel-heading {
  font-size: 24px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  color: #3784ac;
}

.carousel-subheading {
  font-size: 20px;
  text-align: center !important;
  color: #3784ac;
}

.carousel-paragraph {
  color: #3784ac;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 10px;
  padding: 100px;
  margin-top: -75px;
  margin-bottom: -50px;
}

.toggle-text {
  cursor: pointer;
  color: blue;
  text-align: right;
}
.carousel img {
  width: 5% !important;
  margin-bottom: 8px;
  margin-right: 10px;
}
.expanded {
  color: #3784ac;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 10px;
  height: auto;
}
.collapsed{
  color: #3784ac;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 10px;
  height: auto;
}
.textcarousel-paragraph.collapsed {
  height: 60px;
  overflow: hidden;
  color: #3784ac;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 10px !important;
  padding: 100px;
  margin-top: -75px;
  margin-bottom: -50px;
}

.textcarousel-paragraph.expanded {
  max-height: 1000px;
  padding: 0;
  color: #3784ac;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 10px;
  padding: 100px;
  margin-top: -75px;
  margin-bottom: -50px;
}

.toggle-text {
  color: rgb(0, 0, 255);
  cursor: pointer;
  margin-top: 40px;
  text-align: center;
}

.divider-textcarousel-text {
  border: 0;
  height: 4px;
  background: #fff;
  margin: 20px auto;
  margin-top: 0px;
  width: 30%;
}

.quote-icon {
  font-size: 24px;
  color: #3784ac;
  margin-right: 10px;
  vertical-align: top;
}

/* Estilos para los controles del carrusel de Bootstrap */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #046394;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Estilos adicionales para asegurar que los controles siempre sean visibles */
.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
  visibility: visible;
  margin-right: -40px;
  margin-left: -40px
}

/* Ajustes en los indicadores de Bootstrap (dots) */
.carousel-indicators li {
  background-color: #3784ac;
}

.carousel-indicators .active {
  background-color: #000;
}
